<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active imgborder">
      <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1523787631&di=da1061831b1fd895c1eb87487fed1729&src=http://img.zcool.cn/community/016994592faac5a8012193a319f2bb.jpg" alt="Second slide">
    </div>
    <div class="item imgborder">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523797728007&di=fede92302321c2d7597955309504db95&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F17%2F38%2F15%2F66v58PICGM7_1024.jpg" alt="Second slide">
    </div>
    <div class="item imgborder">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523797728004&di=56eece234d7165e8891e49ccbf6e2848&imgtype=0&src=http%3A%2F%2Fpic40.nipic.com%2F20140428%2F11307771_101825435161_2.jpg" alt="Second slide">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
